.header-content {
    margin-top: 32px;
    text-align: center;

    .main-header-content {
        color: #1c3967;
    }

    .sub-header-activity {
        margin-top: 20px !important;
        letter-spacing: 1px;
        font-weight: lighter;
    }
}

.activity-list {
    padding-top: 28px;
    display: flex;

    .activity-item {
        margin: 16px 16px;
        background: white;
        width: calc(100% / 3);
        transition: 0.5s;
        border-radius: 0 0 15px 15px;

        .activity-image {
            img {
                width: 100%;
                height: 220px;
            }
        }

        .activity-info {
            padding: 0 12px;

            .activity-info-title {
                padding-top: 12px;
                color: #1c3967;
                font-weight: 600;
                font-size: 16px;
                overflow: hidden !important;
                text-overflow: ellipsis;
                height: 47px;
                margin-bottom: 5px;
            }

            .activity-info-date {
                margin-top: 8px;
                font-size: 15px;
                margin-bottom: 28px;
            }
        }

        &:hover {
            transform: translateY(-16px);
            box-shadow: 0 4px 10px #c0d2eb;
            cursor: pointer;
        }

        @media (max-width: 768px) {
            width: 90%;
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}

.xemthem-button {
    display: flex;
    flex-direction: row-reverse;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        background: white;
        padding: 2px 8px 2px 16px;
        box-shadow: 0 4px 4px rgba(192, 210, 235, 0.5);
        border-radius: 12px;
        margin: 20px 12px 36px 0;

        svg {
            width: 30px;
            height: 30px;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

@media (max-width: 768px) {
    .avtivity-content {
        margin-top: 16px;
    }
}
