.news-detail {
    margin-top: 100px;

    .news-header {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .news-image {
        display: flex;
        justify-content: center;
        align-items: center;
        // height: 500px;
        margin-bottom: 20px;

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }

    .news-date {
        font-size: 14px;
        color: #888;
        margin-bottom: 10px;
        color: red;
        font-style: italic;
    }

    .news-descrip {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .news-content-detail {
        font-size: 18px;
        line-height: 1.6;
    }
}
