.social-content {
    background-image: url(https://storage.googleapis.com/onthisinhvien.appspot.com/images/otsvv/social.png);
    background-size: cover;
    height: 70vh;
    background-position: center;
    position: relative;
    width: 100%;

    .social-header-content {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);

        .main-header-social {
            text-align: center;
            padding: 20px;
            font-size: 24px;
            font-weight: 700;
            background: black;
            color: white;
            margin-top: 20px;
            border-radius: 15px;
            text-decoration: underline;
            text-underline-offset: 3px;

            span {
                color: #ec1f24;
                text-decoration: underline;
                text-underline-offset: 6px;
            }
        }

        .subtitle-header-social {
            text-align: center;
            color: white;
            font-size: 18px;
            font-weight: 600;
            margin-top: 15px;
            margin-bottom: 60px;
        }

        @media (max-width: 768px) {
            width: 90%;

            .subtitle-header-social {
                font-size: 28px;
            }
        }
    }

    .social-items-content {
        display: flex;
        justify-content: space-around;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%);
        width: 80%;

        .item-social {
            background: radial-gradient(
                50% 50% at 50% 50%,
                rgba(254, 254, 255, 0.9) 17.71%,
                rgba(254, 254, 255, 0.9) 42.71%,
                rgba(254, 254, 255, 0.738) 72.92%,
                rgba(254, 254, 255, 0.585) 100%
            );
            text-align: center;
            padding: 40px;
            border-radius: 15px;
            width: 420px;
            height: 280px;
            margin: 60px;

            .social-image {
                img {
                    height: 70px;
                    object-fit: contain;
                    margin: auto;
                }
            }

            .social-static {
                margin-top: 30px;
                margin-bottom: 15px;
                font-size: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: red;
                font-weight: 600;
                letter-spacing: 1px;

                img {
                    margin-right: 10px;
                }
            }

            a {
                .socail-button {
                    width: 250px;
                    height: 55px;
                    background: #bd0409;
                    position: relative;
                    border-radius: 15px;
                    margin: auto;

                    .social-button-sub {
                        background: linear-gradient(180deg, #ed1e24 0%, #ff4045 100%);
                        width: 250px;
                        padding: 12px 16px;
                        border-radius: 15px;
                        color: white;
                        font-weight: 600;
                        font-size: 19px;
                    }
                }
            }

            @media (max-width: 768px) {
                padding: 20px;
                width: 300px;
                height: 150px;

                .social-image {
                    img {
                        height: 30px;
                        object-fit: contain;
                        margin: auto;
                    }
                }

                .social-static {
                    margin-top: 10px;
                    margin-bottom: 15px;
                    font-size: 20px;
                    font-weight: 600;
                    letter-spacing: 1px;

                    img {
                        margin-right: 10px;
                    }
                }

                a {
                    .socail-button {
                        width: 150px;
                        height: 25px;
                        background: #bd0409;
                        position: relative;
                        border-radius: 15px;
                        margin: auto;

                        .social-button-sub {
                            background: linear-gradient(180deg, #ed1e24 0%, #ff4045 100%);
                            width: 150px;
                            padding: 8px 16px;
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        @media (max-width: 768px) {
            margin-top: 40px;
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .system-content-container {
        top: -8px !important;
        left: 0.5em;
    }
}
