.question-content {
    background-image: url("https://onthisinhvien.com/images/icon/otsv/why-choose-bg.png");
    padding-top: 16px;
    .header-content {
        text-align: center;
        .main-header-content {
            h2 {
                font-size: 32px;
                line-height: 1.3;
                color: #1c3967;
                font-weight: 500;
            }
        }

        .sub-header-content {
            margin-top: 24px;
            color: #1c3967;
        }
    }

    .question-list-content {
        display: flex;
        padding-top: 32px;
        text-align: center;

        .question-item-content {
            .icon-question {
                width: 100px;
                height: 100px;
                background: #e91111;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 25px;
                margin: auto;
            }

            .question-title {
                font-weight: 600;
                font-size: 18px;
                margin: 15px 0;
                color: #333;

                @media (max-width: 768px) {
                    font-size: 20px !important;
                }
            }

            .answer-title {
                font-size: 15px;
                height: 100px;
                width: 80%;
                margin: auto;
                color: #333;

                @media (max-width: 768px) {
                    font-size: 15px !important;
                    width: 88% !important;
                    letter-spacing: 1px;
                }
            }
        }

        @media (max-width: 768px) {
            display: flex;
            padding-top: 32px;
            flex-direction: column;
            text-align: center;
        }
    }
}
